<div class="jumbotron">	
	<%= link_to "Enter new stock", new_stock_path, class: "btn btn-large btn-primary pull-right" %>
	<h1> Stocks  </h1>
	
	<table id='saved_stocks' class="table table-bordered table-condensed table-hover">
		<thead>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Percentage</th>
				<th>Years</th>
		</thead>
		<tbody id="stocks">
			<%= render @stocks%>
		</tbody>
	</table>
</div>